.header {
  font-size: large;
  width: 90%;
  margin: auto;
}

.header svg {
  margin-right: 20px;
  margin-bottom: 20px;
}

#album {
  /* width: 200px; */
  height: 100px;
  margin-top: 20px;
  background-color: lightcyan;
  cursor: pointer;
}

#album:hover {
  background-color: gold;
}

.element {
  margin-bottom: 20px;
  background-color: aliceblue;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.element p {
  padding-left: 10px;
}

.english {
  background-color: lightskyblue;
  font-size: large;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
  user-select: none;
}

.container {
  margin-top: 30px;
}

label {
  margin: 10px;
  width: 150px;
}

.radio {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.answer {
  padding-left: 50px;
  margin-bottom: 10px;
}

.button {
  width: 150px;
  margin-left: 10px;
}

.submit {
  text-align: center;
  margin-bottom: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: lawngreen;
}
